:root {
  --txt-primary: rgba(34, 34, 34, 1);
  --txt-secondary: rgba(102, 102, 102, 1);
  --txt-tertiary: rgba(153, 153, 153, 1);
  --txt-contrast: rgba(255, 255, 255, 1);
  --txt-disabled: rgba(173, 173, 173, 1);
  --txt-hover: rgba(87, 87, 87, 1);
  --link: rgba(47, 128, 237, 1);
  --link-visited: rgba(128, 0, 128, 1);
  --bg-primary: rgba(255, 255, 255, 1);
  --bg-secondary: rgba(247, 247, 247, 1);
  --bg-tertiary: rgba(235, 235, 235, 1);
  --bg-disabled: rgba(240, 240, 240, 1);
  --bg-contrast-primary: rgba(23, 23, 23, 1);
  --bg-contrast-secondary: rgba(33, 33, 33, 1);
  --border-border: rgba(224, 224, 224, 1);
  --border-border-hover: rgba(206, 206, 206, 1);
  --service-orange: rgba(255, 240, 199, 1);
  --service-light-green: rgba(238, 250, 209, 1);
  --service-blue: rgba(225, 247, 255, 1);
  --service-pink: rgba(255, 235, 241, 1);
  --service-yellow: rgba(255, 249, 221, 1);
  --service-green: rgba(225, 242, 241, 1);
  --service-red: rgba(253, 240, 232, 1);
  --service-purple: rgba(238, 236, 250, 1);
  --accent: rgba(255, 204, 73, 1);
  --accent-hover: rgba(255, 216, 117, 1);
  --negative: rgba(235, 87, 87, 1);
  --negative-hover: rgba(240, 127, 127, 1);
  --positive: rgba(91, 175, 84, 1);
  --positive-hover: rgba(130, 194, 125, 1);
}
